/* styles to go here */
body {
	max-width: 50rem;
	margin: 40px auto;
	font: 16px/1.4 Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 150%;
}

nav {
	margin: 2rem 0;
}
nav ul li {
	display: inline-block;
	margin-right: 1rem;
}
nav ul li:last-of-type {
	margin-right: 0;
}
form {
	margin: 1rem 0;
}
input[type="text"], input[type="email"] {
	display: block;
	margin-bottom: 0.5rem;
}